<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

    <application
        android:name=".JekyllEx"
        android:allowBackup="true"
        android:extractNativeLibs="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.JekyllEx"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <provider
            android:exported="false"
            android:grantUriPermissions="true"
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <service
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="specialUse"
            android:name=".services.ProcessService" />

        <activity
            android:exported="false"
            android:launchMode="singleTask"
            android:theme="@style/Theme.JekyllEx"
            android:name=".ui.activities.installer.BootstrapInstaller" />

        <activity
            android:exported="true"
            android:theme="@style/Theme.JekyllEx"
            android:windowSoftInputMode="adjustResize"
            android:name=".ui.activities.home.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:exported="false"
            android:theme="@style/Theme.JekyllEx"
            android:name=".ui.activities.viewer.WebPageViewer"
            android:parentActivityName=".ui.activities.home.HomeActivity" />

        <activity
            android:exported="false"
            android:theme="@style/Theme.JekyllEx"
            android:name=".ui.activities.editor.EditorActivity"
            android:parentActivityName=".ui.activities.home.HomeActivity" />

        <activity
            android:exported="false"
            android:theme="@style/Theme.JekyllEx"
            android:name=".ui.activities.settings.SettingsActivity"
            android:parentActivityName=".ui.activities.home.HomeActivity" />
    </application>
</manifest>
